<div class="dashboard-container">
  <header class="header">
    <h1>El Planeador - Sistema Contable</h1>
    <p>Esta actualmente en el {{serverInfo}}</p>
  </header>

  <nav class="menu">
    <button routerLink="/catalogo-cuentas" class="menu-item">
      <span class="icon">📊</span>
      <span>Catálogo de Cuentas</span>
    </button>
    <button routerLink="/libro-diario" class="menu-item">
      <span class="icon">📝</span>
      <span>Libro Diario</span>
    </button>
    <button routerLink="/libro-mayor" class="menu-item">
      <span class="icon">📖</span>
      <span>Libro Mayor</span>
    </button>
    <button routerLink="/libro-mayor" class="menu-item">
      <span class="icon">⚖️</span>
      <span>Balance</span>
    </button>
    <button routerLink="/estados-financieros" class="menu-item">
      <span class="icon">💼</span>
      <span>Estados Financieros</span>
    </button>
  </nav>
</div>
